
  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    th, td {
      border: 1px solid #0f0e0f;
      padding: 8px;
    }
     
    th {
      background-color: #9562e6;
      text-align: center;
    }
    .b1{
      background-color: #9778ca;
    }
   
  
    